<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="db" value="Data Source=JOSEGCV\SQLEXPRESS;Initial Catalog=Donaciones;Trusted_Connection=True;"/>
		<add key="serv" value="JOSEGCV\SQLEXPRESS" />
		<add key="bd" value="Donaciones" />
	</appSettings>
</configuration>
